<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664128471145-7t8036k64ge8163llpue5g4uprra7tgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664128471145-7t8036k64ge8163llpue5g4uprra7tgu</string>
	<key>API_KEY</key>
	<string>AIzaSyBQOYu8EM_fVFR91p9FzvRWmyOAhI6P7s8</string>
	<key>GCM_SENDER_ID</key>
	<string>664128471145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gvelko90.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-fe7d6</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-fe7d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664128471145:ios:a32d795ff032150736a2f8</string>
</dict>
</plist>